/* ******************** NAV BAR ******************** */
body {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #8e8e8e;
  min-height: 100%;
  background: #f9f9f9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#header{text-align: center;
  margin-top: 30px;
margin-bottom: 15px;
}
#wsite-title {
  font-family: M;
  font-weight: 500;
  font-style: italic;
  color: #76b3b8;
  text-transform: none;
  letter-spacing: 3px ;
 
  text-align: justify;
  padding-top: 30px;
  padding-inline: 5px;
}
.wsite-logo {
  display: inline-block;
  vertical-align: top
  
}


.wsite-logo img, .wsite-logo span {
  vertical-align: top;
}
.wsite-logo table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  margin: 0 !important;
  border: 0 !important
}

.wsite-logo td {
  vertical-align: middle !important
}

.wsite-logo td {
  border: 0 !important;
  padding: 0 !important
}
.wsite-logo a {
  color: #484848;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 30px;
  text-transform: none;
  text-decoration-line: none;}

.wsite-logo a img {
  border: 0
}

.wsite-title-placeholder {
  padding-right: 60px ;
  cursor: default
}

#home_link{
  margin-left: auto;

}
.wsite-section-wrap
{
  width: 100%;}


.paragraph
{
  margin-left: 10px;
  padding: auto;
  text-align: center;
  margin: 0px 0px 0 60px;
  /* display: block; */
  line-height:34px;
  padding-bottom: 15px;
  }



@media only screen and (max-width: 992px) {
  /* hide classic menu */
 
  #header {
    padding: 0 10px;
    border-bottom: solid 1px #d0d0d0;
    height: 65px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 11;
}
  .nav-trigger {
    display: table-cell;
    vertical-align: middle;
    width: 24px;
}
.wsite-logo {
  margin: 3px 54px 0 0;
}
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
    display : none;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }

  .paragraph {
    font-size: 1em !important;
    line-height: 1.5em !important;
    padding-left: 20px;
}
.wsite-logo a {
  color: #484848;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 25px;
  text-transform: none;
  text-decoration-line: none;}
}

@media only screen and (max-width: 480px) {
  /* hide classic menu */
 
  #header {
    padding: 0 10px;
    border-bottom: solid 1px #d0d0d0;
    height: 120px;
    box-sizing: border-box;
    display: table;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 11;
}
  .nav-trigger {
    display: table-cell;
    vertical-align: middle;
    width: 24px;
}
.wsite-logo {
  margin: 3px 54px 0 0;
}
  #topnav_menu {
    display: none;
  }

  /* position home link at left and hamburger at right */
  #home_link {
    flex-grow: 1;
    display : none;
  }

  /* disable horizontal scrolling  */
  #root {
    position: relative;
    overflow-x: hidden;
  }

  .paragraph {
    font-size: 1.2em !important;
    line-height: 1.7em !important;
    margin: 0px 0px 0 60px;}



.wsite-logo a {
  color: #484848;
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 25px;
  text-transform: none;
  text-decoration-line: none;}
}



