
#topnav_menu{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 1300px;
}
 
 #topnav_menu ul{
    margin-top:5vh;
 }
 
 #topnav_menu ul li{
    display:inline-flex;
    color :#484848;
    list-style-type: none;
    letter-spacing: 1px;
    padding-right: 30px;
    
  }


  #topnav_menu ul li a{
    font-family: "Montserrat";
    letter-spacing: 1px; 
    text-decoration: none;
    color :#484848;
    padding:7px 22px 7px 22px;
    margin:auto;
    
  }
  #topnav_menu ul li a:hover{
    background-color: #f6f6f6e0;
  
     }
   
  
    #topnav_menu ul ul{
      position:absolute;
      padding-left: 0;
      padding-top: 3vh;
      height: 130px;
      overflow:hidden;
      margin-top: 15px;
      width:11vw;
      
    }
    #topnav_menu ul ul:hover{
      background-color: transparent;
       }
       #topnav_menu ul ul li a:hover{
        background-color: transparent;
         }
       
    #topnav_menu ul ul li{
      display:none;
      overflow:hidden; 
      background-color:#f6f6f6e0;
      padding:4vh 0px 3vh 12px;
      width:227.5px;
    }

    
    #topnav_menu ul ul li a{
      text-align: center;
      
      
    }
  #s1 {display:none;
   
    }
 
  #s2 {display:none;}
 

  /* hide responsive menu */
  #topnav_hamburger_icon,
  #topnav_responsive_menu {
    display: none;
  }

  
