.wsite-image{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align :right;
    display: flex;
justify-content: center;
}
.wsite-image{
    height:350px;
    max-width:100%;
    
    }
    .wsite-image1
    {
      padding-top:100px;
    
    }
.paragraphLegendePhoto
{
    text-align: center; 
    display:block;
    font-size :30px; 
    padding-top: 80px;
  padding-bottom: 30px; 
  text-decoration :underline;
}
@media only screen and (max-width: 992px) {
    .wsite-image{
        padding-top: 130px;} 
}

@media only screen and (max-width: 480px) {
    .wsite-image{
        padding-top: 130px;
    flex-shrink:1;
    justify-content:center;}
}
