.wsite-section-wrap
{
  width: 100%;
  overflow: hidden;
  }

.wsite-image{
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    max-width: 100%;
    }
    
  
  .img 
  {
    width:35%;
    padding-top:40px;
    padding-bottom: 5px;
    height:auto;
    margin: auto;
display: flex;
    }
    
.paragraphLegendePhoto
{
  font-size: 18px; 
  line-height: 1.5em;
  padding-left: 20px;
  text-decoration: none;
  text-align: center;
  padding-bottom: 50px;
padding-top: 10px;
  font-family: 'Raleway', sans-serif;
  color: #444140;
 
}
.titreh2
{text-align: center; 
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px ;
margin-top:30px;}


@media only screen and (max-width: 992px) {
    .wsite-image{
        padding-top: 120px;
        display: flex;
        justify-content: center;
        } 
    .paragraphLegendePhoto{text-decoration: none;
      padding-top: 50px;
      padding-bottom: 15px;
      text-align: center;
      font-size: 1em !important;
      line-height: 1.5em !important;
      padding-left: 20px;}

      .titreh2
{text-align: center; 
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px ;
  margin-top:80px;}
}

@media only screen and (max-width: 480px) {
    .wsite-section-wrap
{
  display: flex;
  overflow: hidden;
  width:480px;
  }
    
    .wsite-image{
     
display: flex;
padding-top: 123px;
justify-content: center;
     }

     .wsite-image{
      display: inline-flex;
      justify-content: center;}

    .wsite-image1
    {margin:auto;}
     
    .img 
    {
      width: 110%;
      height:auto;
      padding: 25px;
      /* margin: auto; */
      /* display: flex; */
      }
       
     
     .paragraphLegendePhoto {
      
display: block;
      
padding-bottom: 30px;
      
font-size: 1.2em !important;
      
line-height: 1.7em !important;
      
text-decoration: none;
      
color: #444140;
      
padding-top:0px;
      
margin: auto;
      
display: flex;
      
} 


    .titreh2
{text-align: center; 
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px ;
margin-top: 180px;}

     }

    


