.wsite-section-wrap
{
  width: 100%;
  overflow: hidden;
  }

.wsite-image{
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    max-width: 100%;
    }
    
  
  .img 
  {
    width:35%;
    padding-top:40px;
    padding-bottom: 5px;
    height:auto;
    margin: auto;
    display: flex;
    }
    
.paragraphLegendePhoto
{
  font-size: 18px; 
  line-height: 1.5em;
  padding-left: 20px;
  text-decoration: none;
  text-align: center;
  
padding-top: 40px;
  font-family: 'Raleway', sans-serif;
  color: #444140;
 
}
.titreh2
{
  text-align: center;
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px;
  margin-top:30px;
  margin-bottom: 30px;
  }

.paragraphDescription{
  margin-left: 10px;
  padding: auto;
  text-align: center;
  margin: 0px 0px 0 60px;
  /* display: block; */
  line-height:34px;
  padding-bottom: 15px;
  display: flex;
}

.paragraphNaissances{
  font-size: 18px;
line-height: 2.1em;
padding: 20px 140px 30px 140px;
text-decoration: none;
text-align: left;
font-family: 'Raleway', sans-serif;
color: #777777;
line-height: 2;
width: 70%;
letter-spacing: 1px;


}

@media only screen and (max-width: 992px) {
    .wsite-image{
        padding-top: 20vh;
        display: flex;
        justify-content: center;
        } 
    .paragraphLegendePhoto{text-decoration: none;
      padding-top: 50px;
      padding-bottom: 15px;
      text-align: center;
      font-size: 1em !important;
      line-height: 1.5em !important;
      padding-left: 20px;}

      .titreh2
{text-align: center; 
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px ;
  margin-top:80px;}
}

@media only screen and (max-width: 480px) {
  html, body{
    top:0;
    bottom:0;
    left:0;
    right: 0;
    overflow-x: hidden;}

    .wsite-section-wrap
{
  display: flex;
  overflow: hidden;
  margin-top: 0;
  
  }
     .wsite-image{
      display: inline-flex;
      justify-content: center;
      }

    .wsite-image1
    {margin:0;}
     
    .img 
    {
      width: 100%;
      height:auto;
      padding:0;
      margin-top:0;
      }
     .paragraphLegendePhoto {
      
display: block; 
font-size: 1.2em !important;
line-height: 1.7em !important;
text-decoration: none;
color: #444140;
padding-top:40px;
margin-left:60px;
} 
    .titreh2
{
  font-family:'Times New Roman';
  transform: none;
  color: #42514c;
  font-size: 30px;
  padding:auto;
  margin:30px;
  }

  .paragraphNaissances{
    
padding:30px 0 0 0;
text-decoration: none;
font-weight:bold;
text-align:center;
font-family: 'Raleway', sans-serif;
color:red;
width: 100%;
font-size: 1.2em !important;
line-height: 1.7em !important;
  }
.affichageVideos{
 
  display:flex;
  padding:20px 10px 20px 10px;
}
  }

     

    


